@charset "UTF-8";
/*************************************************
common-style
*************************************************/
* {
  box-sizing: border-box;
}

.ie_ObjectFit {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: YakuHanJP, "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Meiryo", sans-serif;
  min-height: 100dvh;
  overflow-x: hidden; /* 横方向のはみ出しを隠す */
  color: #010101;
}

main {
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .inner {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1100px) {
  .inner {
    width: 80%;
    max-width: 1000px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    width: 90%;
    max-width: 600px;
  }
}

.img-box img {
  width: 100%;
}

.obj-fit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content_wrap {
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .content_wrap {
    width: 90%;
    max-width: 60rem;
  }
}

.flex {
  display: flex;
}

.title_wrap .sub_title {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #44769E;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .title_wrap .sub_title {
    font-size: 1.4rem;
  }
}
.title_wrap .title {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.35em;
  padding-top: 3.2rem;
  color: #44769E;
}
@media screen and (max-width: 768px) {
  .title_wrap .title {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
}

.btn_wrap {
  position: relative;
  width: 30rem;
  height: 6rem;
  border-radius: 999px;
  text-align: center;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .btn_wrap {
    margin: 0 auto;
  }
}
.btn_wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 999px;
  opacity: 0;
  transition: all 0.3s;
}
.btn_wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 999px;
  z-index: -1;
  transition: all 0.3s;
  opacity: 0;
}
.btn_wrap:hover::after {
  opacity: 1;
}
.btn_wrap:hover::before {
  opacity: 1;
}
.btn_wrap:hover a {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
}
.btn_wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0.15em;
  font-weight: 800;
  transition: all 0.3s;
}

.grade_btn {
  background: var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  border: 1px solid #fff;
}
.grade_btn::before {
  background-color: #fff;
}
.grade_btn::after {
  border: 1px solid transparent;
  background: linear-gradient(white, white), var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.grade_btn:hover a {
  background: var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grade_btn a {
  color: #fff;
}

.white_btn {
  background-color: #fff;
}
.white_btn a {
  background: var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]:focus,
input[type=button]:focus {
  outline-offset: -2px;
}

.u-pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .u-pc {
    display: none !important;
  }
}

.u-pc-inlineblock {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .u-pc-inlineblock {
    display: none;
  }
}

.u-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp {
    display: block;
  }
}

.u-sp-inlineblock {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp-inlineblock {
    display: inline-block;
  }
}

.u-sp-inline {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp-inline {
    display: inline;
  }
}

.u-align--center {
  text-align: center;
}

/*************************************************
animation-style
*************************************************/
.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: inline-block;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
.bg-ex_w.bgLRextend::before {
  background-color: #fff;
}

.bg-ex_bl.bgLRextend::before {
  background-color: #44769E;
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-active {
  opacity: 1;
  transform: translateY(0);
}

.anime-ttl01 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.anime-ttl01 span {
  min-width: 12px;
  display: inline-block;
  transform: translateY(100px);
  transition: transfrom 0.5s;
}

/*************************************************
header
*************************************************/
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: all 0.5s;
}
header.under-header {
  background-color: #fff;
}
header.under-header .header_inner {
  padding: 2.5rem 3.0423280423vw;
}
@media screen and (max-width: 768px) {
  header.under-header .header_inner {
    padding: 1.5rem 5.3333333333vw 1rem;
  }
}
header.under-header .header_inner .nav ul li a {
  color: #000;
}
header.active {
  background-color: rgba(0, 0, 0, 0.5);
}
header.is-megamenu-header {
  background-color: transparent !important;
}
header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3.0423280423vw 1rem;
}
@media screen and (max-width: 768px) {
  header .header_inner {
    padding: 1.5rem 5.3333333333vw 1rem;
  }
}
header .header_inner .logo {
  width: 104px;
  height: auto;
}
@media screen and (max-width: 768px) {
  header .header_inner .logo {
    width: 7.5rem;
  }
}
header .header_inner .nav ul {
  display: flex;
}
header .header_inner .nav ul li {
  margin-left: 7.4rem;
}
header .header_inner .nav ul li a {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s;
}
header .header_inner .nav ul li a:hover {
  background: var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamberger-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamberger-wrap .ham-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamberger-wrap p {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.hamberger-wrap.under-hum .hambager .c-line {
  background-color: #000;
}
.hamberger-wrap.under-hum p {
  color: #000;
}
.hamberger-wrap.is-ham-open .hambager .c-line {
  background-color: #000;
}
.hamberger-wrap.is-ham-open .hambager .c-line:first-of-type {
  animation: line1-open var(--navTransition) forwards;
}
.hamberger-wrap.is-ham-open .hambager .c-line:nth-of-type(2) {
  animation: line2-open var(--navTransition) forwards;
}
.hamberger-wrap.is-ham-open .hambager .c-line:last-of-type {
  animation: line3-open var(--navTransition) forwards;
}
.hamberger-wrap.is-ham-open p {
  color: #000;
}

.hambager-content {
  position: relative;
  width: 2.9rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;
}

:root {
  --navTransition: 0.4s;
}

.hambager {
  width: 2.9rem;
  height: 1.6rem;
  position: relative;
  display: block;
  cursor: pointer;
}
.hambager .c-line {
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hambager .c-line {
    width: 100%;
  }
}
.hambager .c-line:first-of-type {
  top: 0;
  animation: line1 var(--navTransition) forwards;
}
.hambager .c-line:nth-of-type(2) {
  top: 50%;
  animation: line2 var(--navTransition) forwards;
}
.hambager .c-line:last-of-type {
  top: 100%;
  animation: line3 var(--navTransition) forwards;
}

@keyframes line1 {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 0;
  }
}
@keyframes line1-open {
  0% {
    transform: rotate(0);
    top: 0;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes line2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line2-open {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes line3 {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 100%;
  }
}
@keyframes line3-open {
  0% {
    transform: rotate(0);
    top: 100%;
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}
.mega-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  padding-top: 10rem;
  transform: translateX(100%);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  overflow: scroll;
  z-index: 998;
  transition: all 0.3s;
}
.mega-menu.is-megamenu-open {
  transform: translateX(0);
}
.mega-menu .mega-menu_inner {
  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
}
.mega-menu .nav-area {
  margin-bottom: 4rem;
}
.mega-menu .nav-area nav ul li a {
  display: block;
  width: 100%;
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 2rem 0;
  border-bottom: 1px solid #000;
}
.mega-menu .tel {
  margin-bottom: 3.2rem;
}
.mega-menu .tel a {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3.1rem;
  margin-bottom: 1rem;
}
.mega-menu .tel p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.mega-menu .contact p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*************************************************
footer
*************************************************/
footer {
  position: sticky;
  top: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  footer {
    display: block;
  }
}
footer .footer-left, footer .footer-right {
  flex-basis: 50%;
}
footer .footer-left .map-wrap {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  footer .footer-left .map-wrap {
    aspect-ratio: 1/0.6;
  }
}
footer .footer-right {
  padding: 5.7rem 11rem 2.7rem 5.6rem;
  background: linear-gradient(90deg, #44769E 0%, #68A797 100%);
}
@media screen and (max-width: 768px) {
  footer .footer-right {
    padding: 4rem 0;
  }
}
footer .footer-right .inner {
  max-width: 59rem;
}
footer .footer-right h3, footer .footer-right p, footer .footer-right a {
  color: #fff;
}
footer .footer-right h3 {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 4.7rem;
}
@media screen and (max-width: 768px) {
  footer .footer-right h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  footer .footer-right h3 {
    margin-bottom: 2.5rem;
  }
}
footer .footer-right .txt {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 4px;
  padding-bottom: 3.7rem;
  border-bottom: 1px solid #fff;
  margin-bottom: 4.9rem;
}
@media screen and (max-width: 768px) {
  footer .footer-right .txt {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
  }
}
footer .footer-right .tel {
  margin-bottom: 3.2rem;
}
footer .footer-right .tel a {
  display: flex;
  gap: 1rem;
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3.1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  footer .footer-right .tel a {
    justify-content: center;
  }
}
footer .footer-right .tel p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  footer .footer-right .tel p {
    font-size: 1.3rem;
    text-align: center;
  }
}
footer .footer-right .contact {
  margin-bottom: 6.8rem;
}
footer .footer-right .contact p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  footer .footer-right .contact p {
    text-align: center;
    letter-spacing: 1px;
  }
}
footer .footer-right .policy {
  position: relative;
  display: block;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 300;
  padding-left: 1.5rem;
  margin-bottom: 1.7rem;
}
footer .footer-right .policy::before {
  content: "";
  width: 6px;
  aspect-ratio: 1/2;
  background: url(../images/icon-arrow.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
footer .footer-right p small {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

/*************************************************
　下層共通
*************************************************/
.under-fv {
  width: 100%;
  height: 25.8rem;
  background: var(--logo_grad, linear-gradient(90deg, #44769E 0%, #68A797 100%));
  padding-top: 9rem;
  margin-top: 10rem;
}
@media screen and (max-width: 768px) {
  .under-fv {
    height: auto;
    max-height: 20rem;
    aspect-ratio: 1/0.5;
    padding-top: 7rem;
    margin-top: 6rem;
  }
}
.under-fv p, .under-fv h1 {
  color: #fff;
}
.under-fv p {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 768px) {
  .under-fv p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
.under-fv h1 {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 6px;
}
@media screen and (max-width: 768px) {
  .under-fv h1 {
    font-size: 2.6rem;
  }
}

.breadcrumb {
  width: 100%;
  margin-bottom: 8.5rem;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .breadcrumb {
    margin-bottom: 6rem;
  }
}
.breadcrumb nav ol {
  display: flex;
}
.breadcrumb nav ol li {
  font-size: 1.4rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .breadcrumb nav ol li {
    font-size: 1.1rem;
  }
}
.breadcrumb nav ol li a {
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .breadcrumb nav ol li a {
    font-size: 1.1rem;
  }
}
.breadcrumb li::after {
  content: ">";
  display: inline-block;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .breadcrumb li::after {
    padding: 0 5px;
  }
}
.breadcrumb li:first-of-type {
  font-weight: normal;
}
.breadcrumb li:last-child::after {
  display: none;
}

.p-under h2 {
  position: relative;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 6rem;
}
.p-under h2::before {
  content: "";
  width: 5rem;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}
.p-under p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .p-under p {
    font-size: 1.5rem;
  }
}
.p-under .comingsoon {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 6px;
  font-weight: 700;
  text-align: center;
  padding: 10rem 0 30rem;
}

/*************************************************
　制作実績
*************************************************/
.p-works {
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .p-works {
    margin-bottom: 15rem;
  }
}
.p-works .brock {
  margin-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .p-works .brock {
    margin-bottom: 8rem;
  }
}
.p-works .brock h2 {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 3.2rem;
  color: #44769E;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 4px solid #44769E;
  -o-border-image: linear-gradient(90deg, #44769E 0%, #68A797 100%) 1;
     border-image: linear-gradient(90deg, #44769E 0%, #68A797 100%) 1;
}
@media screen and (max-width: 768px) {
  .p-works .brock h2 {
    font-size: 2.6rem;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    border-bottom: 3px solid #44769E;
  }
}
.p-works .brock h2::before {
  display: none;
}
.p-works .brock .box {
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .p-works .brock .box {
    flex-direction: column-reverse;
    gap: 2.5rem;
  }
}
.p-works .brock .box:last-of-type {
  margin-bottom: 0;
}
.p-works .brock .box .left {
  flex-basis: 55%;
  padding-top: 4rem;
}
@media screen and (max-width: 768px) {
  .p-works .brock .box .left {
    padding-top: 0;
  }
}
.p-works .brock .box .left h3, .p-works .brock .box .left p {
  max-width: 49rem;
}
.p-works .brock .box .left h3 {
  position: relative;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 2rem;
  letter-spacing: 7px;
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 768px) {
  .p-works .brock .box .left h3 {
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 4rem;
  }
}
.p-works .brock .box .left h3::before {
  position: absolute;
  bottom: -1rem;
  left: 0;
  content: "";
  width: 5.2rem;
  height: 2px;
  background-color: #000;
}
.p-works .brock .box .left p {
  line-height: 1.7;
  margin-bottom: 1rem;
}
.p-works .brock .box .left p:last-of-type {
  margin-bottom: 0;
}
.p-works .brock .box .left p a {
  color: #44769E;
  text-decoration: underline;
}
.p-works .brock .box .right {
  flex-basis: 45%;
}
.p-works .brock .box .right .img-box {
  border-radius: 2rem;
  overflow: hidden;
}
.p-works .brock .box .right:has(> :nth-child(2):last-child) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-works .brock .box .right:has(> :nth-child(2):last-child) .img-box {
  aspect-ratio: 1/0.49;
}
.p-works .brock#w-movie .img-box {
  border-radius: 0;
  aspect-ratio: auto;
}
.p-works .brock#w-movie .img-box:nth-of-type(2) {
  border-radius: 2rem;
}

/*************************************************
　採用情報
*************************************************/
.p-recruit p {
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .p-recruit p {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
}
.p-recruit table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10rem;
}
.p-recruit table tr:nth-of-type(2n) {
  background-color: #f5f5f5;
}
.p-recruit table tr th, .p-recruit table tr td {
  font-size: 1.8rem;
  line-height: 1.7;
  padding: 4rem 2rem;
}
@media screen and (max-width: 768px) {
  .p-recruit table tr th, .p-recruit table tr td {
    display: block;
  }
}
.p-recruit table tr th {
  width: 30%;
  letter-spacing: 4px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .p-recruit table tr th {
    width: 100%;
    font-size: 1.5rem;
    padding: 2rem 1rem 0;
  }
}
.p-recruit table tr td {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .p-recruit table tr td {
    font-size: 1.3rem;
    padding: 1rem 1rem 2rem;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 768px) {
  .p-recruit table tr td span {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-top: 1rem;
  }
}

/*************************************************
　お問い合わせ
*************************************************/
@media screen and (max-width: 768px) {
  .p-contact h2 {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}
.p-contact p {
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .p-contact p {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
}
.p-contact .form-wrap {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 6rem 8rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap {
    padding: 10.6666666667vw 5.3333333333vw;
  }
}
.p-contact .form-wrap table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 4rem;
}
.p-contact .form-wrap table tr th, .p-contact .form-wrap table tr td {
  padding: 1.5rem 0;
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap table tr th, .p-contact .form-wrap table tr td {
    display: block;
  }
}
.p-contact .form-wrap table tr th {
  width: 25%;
  font-size: 1.6rem;
  letter-spacing: 2px;
  vertical-align: middle;
}
@media screen and (max-width: 1100px) {
  .p-contact .form-wrap table tr th {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap table tr td {
    width: 100%;
    padding-top: 0;
  }
}
.p-contact .form-wrap table tr td input, .p-contact .form-wrap table tr td textarea {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #44769E;
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap table tr td textarea {
    max-height: 20rem;
  }
}
.p-contact .form-wrap table tr td input[type=radio] {
  width: auto;
}
.p-contact .form-wrap table tr td label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap table tr td label {
    min-width: 12rem;
  }
}
.p-contact .form-wrap table tr td.radio {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .p-contact .form-wrap table tr td.radio {
    flex-wrap: wrap;
  }
}
.p-contact .form-wrap .btn_wrap {
  margin: 0 auto;
}
.p-contact .form-wrap .btn_wrap input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  font-weight: 700;
}

/*************************************************
　サンクスページ
*************************************************/
.p-thanks p {
  letter-spacing: 2px;
  line-height: 1.7;
  margin-bottom: 6rem;
}
.p-thanks .btn_wrap {
  margin: 0 auto 10rem;
}

/*************************************************
top
*************************************************/
.fv {
  width: 100vw;
}
.fv .mv_wrap {
  position: relative;
  width: 100%;
}
.fv .mv_wrap .video-cover {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .video-cover {
    aspect-ratio: 1/1.5;
  }
}
.fv .mv_wrap .video-cover video {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .video-cover video {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.fv .mv_wrap .mv_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 5.3rem;
  letter-spacing: 0.2em;
  z-index: 10;
  mix-blend-mode: difference; /* 差分効果 */
  font-weight: 900;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .mv_text {
    font-size: 10.6666666667vw;
    line-height: 1.5;
    top: 45%;
    transform: translate(-50%, -45%);
  }
}
.fv .mv_wrap .ashirai_circle {
  position: absolute;
  z-index: 2;
  mix-blend-mode: difference;
}
.fv .mv_wrap .ashirai_circle.left {
  width: min(32.4074074074vw, 49rem);
  bottom: -35.1rem;
  left: -16.5rem;
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .ashirai_circle.left {
    width: 37.3333333333vw;
    bottom: -9rem;
    left: -5rem;
  }
}
.fv .mv_wrap .ashirai_circle.left img {
  width: 100%;
}
.fv .mv_wrap .ashirai_circle.right {
  top: 26.455026455vw;
  right: -26.9rem;
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .ashirai_circle.right {
    width: 100vw;
    top: 96vw;
    right: -48vw;
  }
}
@media screen and (max-width: 768px) {
  .fv .mv_wrap .ashirai_circle.right img {
    width: 100%;
  }
}

.concept {
  background-color: #fff;
  padding-top: 15rem;
  padding-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .concept {
    padding-top: 8rem;
  }
}
.concept .content_wrap {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap {
    width: 90%;
    max-width: 60rem;
  }
}
.concept .content_wrap .concept_title {
  mix-blend-mode: difference;
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 4.3rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap .concept_title {
    font-size: 4rem;
  }
}
.concept .content_wrap .concept_wrap {
  display: flex;
  width: calc(100% + (100vw - 1080px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap .concept_wrap {
    flex-direction: column;
    width: 100%;
  }
}
.concept .content_wrap .concept_wrap .left_wrap {
  flex-grow: 1;
  max-width: 63rem;
  min-width: 0;
}
.concept .content_wrap .concept_wrap .left_wrap .content_text_wrap {
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap .concept_wrap .left_wrap .content_text_wrap {
    padding-top: 4rem;
  }
}
.concept .content_wrap .concept_wrap .left_wrap .content_text_wrap p {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 2;
  padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap .concept_wrap .left_wrap .content_text_wrap p {
    font-size: 1.5rem;
    line-height: 1.7;
    padding-bottom: 1.8rem;
  }
}
.concept .content_wrap .concept_wrap .img_wrap {
  flex-shrink: 0;
  max-width: 65rem;
  height: auto;
  padding-top: 5rem;
}
@media screen and (max-width: 768px) {
  .concept .content_wrap .concept_wrap .img_wrap {
    padding-top: 0;
  }
}
.concept .content_wrap .concept_wrap .img_wrap img {
  width: 100%;
}

.bmx {
  position: relative;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 2.05%, rgba(0, 0, 0, 0.2) 88.34%), url("../images/bmx_bg.jpg");
  background-size: cover; /* 画像をコンテナ全体に表示 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  overflow: hidden; /* 子要素のはみ出しを防ぐ */
}
@media screen and (max-width: 768px) {
  .bmx {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 2.05%, rgba(0, 0, 0, 0.2) 88.34%), url("../images/bmx_bg_sp.jpg") no-repeat center/cover;
  }
}
.bmx .bmx_content_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap {
    flex-direction: column;
  }
}
.bmx .bmx_content_wrap .img_wrap {
  width: 48.5rem;
  height: auto;
  position: relative;
  z-index: 2;
  margin-right: 4rem;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap .img_wrap {
    width: 25rem;
    margin: 0 auto;
  }
}
.bmx .bmx_content_wrap .title_wrap {
  z-index: 3;
  padding-top: 10rem;
  padding-bottom: 8.5rem;
  max-width: 54rem;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap .title_wrap {
    width: 100%;
    padding-top: 3rem;
    max-width: none;
  }
}
.bmx .bmx_content_wrap .title_wrap .sub_title {
  color: #fff;
  letter-spacing: 0.3rem;
}
.bmx .bmx_content_wrap .title_wrap .title {
  color: #fff;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 2.1rem;
  padding-top: 2.8rem;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap .title_wrap .title {
    font-size: 1.8rem;
    letter-spacing: 2.2px;
    line-height: 2;
    padding-top: 1.5rem;
  }
}
.bmx .bmx_content_wrap .title_wrap .bmx_text {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-top: 5.3rem;
  padding-bottom: 4rem;
  line-height: 2.22;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap .title_wrap .bmx_text {
    font-size: 1.5rem;
    padding-top: 4rem;
    line-height: 2;
  }
}
.bmx .bmx_content_wrap .title_wrap .spo_img_wrap {
  width: 53.7rem;
  height: auto;
  margin-top: 2.8rem;
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .bmx .bmx_content_wrap .title_wrap .spo_img_wrap {
    width: 100%;
    max-width: 40rem;
    margin: 2.8rem auto 0;
  }
}

.services {
  position: relative;
  width: 100%;
  min-height: 200vh; /* セクションが十分な高さを持つように調整 */
  padding-bottom: 10rem;
  overflow: hidden;
  background: linear-gradient(90deg, #F5F5F5 6.61%, #FFF 99.27%);
}
@media screen and (max-width: 768px) {
  .services {
    padding-bottom: 8rem;
    min-height: none;
  }
}
.services .service_content_wrap {
  display: flex;
  width: calc(100% + (100vw - 1080px) / 2);
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap {
    display: block;
    width: 90%;
    max-width: 60rem;
  }
}
.services .service_content_wrap .text-content {
  flex: 1;
  margin-right: 9rem; /* 画像との余白を設定 */
  max-width: 51rem;
  padding-top: 9rem;
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap .text-content {
    margin-right: 0;
    max-width: 60rem;
    padding-top: 8rem;
  }
}
.services .service_content_wrap .text-content .title_wrap .title {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  padding-top: 1.8rem;
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap .text-content .title_wrap .title {
    font-size: 2.6rem;
    padding-top: 1.5rem;
  }
}
.services .service_content_wrap .text-content .service_list_wrap {
  padding-top: 1.7rem;
}
.services .service_content_wrap .text-content .service_list_wrap li {
  padding: 3rem 2rem;
  border-bottom: 1px solid #cdcdcd;
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap .text-content .service_list_wrap li {
    padding: 3rem 0;
  }
}
.services .service_content_wrap .text-content .service_list_wrap li .ttl-wrap {
  margin-bottom: 1.8rem;
}
.services .service_content_wrap .text-content .service_list_wrap li .ttl-wrap p {
  font-family: YakuHanJP, "Outfit", "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #44769E;
  margin-bottom: 1rem;
}
.services .service_content_wrap .text-content .service_list_wrap li .ttl-wrap h3 {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  font-size: 2rem;
  letter-spacing: 4px;
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap .text-content .service_list_wrap li .ttl-wrap h3 {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}
.services .service_content_wrap .text-content .service_list_wrap li .txt {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5;
}
.services .service_content_wrap .image-content {
  position: absolute;
  width: 48%;
  height: 100vh;
  top: 0;
  right: -10%;
  background-image: url("../images/service_img.png");
  background-size: cover; /* 画像全体が表示されるように */
  background-position: left; /* 画像の中心を表示 */
  height: 100vh; /* 高さを100vhに設定 */
}
@media screen and (max-width: 768px) {
  .services .service_content_wrap .image-content {
    display: none;
  }
}

.works {
  position: relative;
  padding: 14.6rem 0 8rem;
  overflow: hidden; /* 背景画像がはみ出る場合の対策 */
}
.works .works_img01 {
  width: 90rem;
  position: absolute;
  top: -5rem;
  right: -23rem;
}
@media screen and (max-width: 768px) {
  .works .works_img01 {
    width: 29rem;
    top: -2rem;
    right: -6rem;
  }
}
.works .title_wrap {
  margin-bottom: 4.5rem;
}
.works .title_wrap .title {
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
  padding-top: 1.8rem;
}
@media screen and (max-width: 768px) {
  .works .title_wrap .title {
    font-size: 2.6rem;
    padding-top: 1.5rem;
  }
}
.works p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .works p {
    font-size: 1.5rem;
  }
}

.company {
  margin-bottom: 8.5rem;
}
@media screen and (max-width: 768px) {
  .company {
    margin-bottom: 6rem;
  }
}
.company .inner {
  background-color: #F5F5F5;
  max-width: 1380px;
  margin: 0 auto;
  border-radius: 3rem;
  overflow: hidden;
  padding: 12rem 0;
}
@media screen and (max-width: 768px) {
  .company .inner {
    border-radius: 2rem;
    padding: 6rem 0;
    max-width: 50rem;
  }
}
.company .inner .content_wrap .title_wrap .grade_sub_title,
.company .inner .content_wrap .title_wrap .grade_title {
  background: linear-gradient(90deg, #44769E 0%, #68A797 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.company .inner .content_wrap .title_wrap .title {
  padding-top: 1.8rem;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .title_wrap .title {
    padding-top: 1.5rem;
    font-size: 2.6rem;
  }
}
.company .inner .content_wrap .company_content {
  display: flex;
  gap: 7rem;
  padding-top: 8.3rem;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content {
    flex-direction: column;
    gap: 5rem;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_left_wrap table {
    width: 100%;
  }
}
.company .inner .content_wrap .company_content .compny_left_wrap table th {
  width: 17.6rem;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_left_wrap table th {
    width: 25%;
  }
}
.company .inner .content_wrap .company_content .compny_left_wrap table th, .company .inner .content_wrap .company_content .compny_left_wrap table td {
  padding: 2.8rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_left_wrap table th, .company .inner .content_wrap .company_content .compny_left_wrap table td {
    padding: 1rem 0;
    font-size: 1.4rem;
  }
}
.company .inner .content_wrap .company_content .compny_left_wrap .img_wrap {
  width: 36.9rem;
  border-radius: 9px;
  overflow: hidden;
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_left_wrap .img_wrap {
    width: 100%;
    max-width: 60rem;
  }
}
.company .inner .content_wrap .company_content .compny_right_wrap .company_content_title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 2.4rem;
}
.company .inner .content_wrap .company_content .compny_right_wrap ul {
  padding-left: 2.3rem;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_right_wrap ul {
    padding-left: 1.4rem;
  }
}
.company .inner .content_wrap .company_content .compny_right_wrap ul li {
  list-style-type: disc;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .company .inner .content_wrap .company_content .compny_right_wrap ul li {
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0;
  }
}
.company .inner .content_wrap .company_content .compny_right_wrap .top_text {
  padding-bottom: 5.5rem;
}
.company .inner .content_wrap .company_content .compny_right_wrap .bottom_text ul li {
  list-style-type: none;
}

.recruit {
  margin-bottom: 15.2rem;
}
@media screen and (max-width: 768px) {
  .recruit {
    margin-bottom: 54.1333333333vw;
  }
}
.recruit .inner {
  background-color: #F5F5F5;
  max-width: 1380px;
  margin: 0 auto;
  border-radius: 3rem;
  padding: 5.7rem 0 4.7rem;
}
@media screen and (max-width: 768px) {
  .recruit .inner {
    max-width: 50rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.recruit .content_wrap {
  position: relative;
}
.recruit .content_wrap .title_wrap {
  margin-bottom: 2.7rem;
}
@media screen and (max-width: 768px) {
  .recruit .content_wrap .title_wrap {
    margin-bottom: 3rem;
  }
}
.recruit .content_wrap .title_wrap .grade_sub_title,
.recruit .content_wrap .title_wrap .grade_title {
  background: linear-gradient(90deg, #44769E 0%, #68A797 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.recruit .content_wrap .title_wrap .title {
  padding-top: 1.8rem;
  font-family: YakuHanJP, "Hiragino Kaku Gothic Std", sans-serif;
}
@media screen and (max-width: 768px) {
  .recruit .content_wrap .title_wrap .title {
    padding-top: 1.5rem;
    font-size: 2.6rem;
  }
}
.recruit .content_wrap p {
  max-width: 54.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.8;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .recruit .content_wrap p {
    max-width: none;
    font-size: 1.4rem;
    line-height: 1.7;
  }
}
.recruit .content_wrap .top-img-para {
  position: absolute;
  bottom: -9.5rem;
  right: -5.5rem;
  width: 52.1rem;
  overflow: hidden;
  border-radius: 3rem;
  background-color: #000;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .recruit .content_wrap .top-img-para {
    width: 100vw;
    bottom: max(-69.3333333333vw, -50rem);
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    height: 60vw;
  }
}